*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:linear-gradient(to right,#0f4c81,#b7d4f0);
  padding:20px;
}

h1{
  text-align:center;
  margin-bottom:20px;
  color:white;
}

.container{
  display:flex;
  gap:20px;
}

.sidebar{
  width:250px;
  background:#dbeafe;
  padding:20px;
  border-radius:10px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#2563eb;
  color:white;
}

button:hover{
  opacity:0.9;
}

.result{
  margin-top:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(25,30px);
  gap:2px;
  background:#dbeafe;
  padding:20px;
  border-radius:10px;
}

.cell{
  width:30px;
  height:30px;
  background:white;
  border-radius:4px;
}

.start{
  background:#22c55e;
}

.end{
  background:#ef4444;
}

.wall{
  background:#1e293b;
}

.visited{
  background:#60a5fa;
}

.path{
  background:#facc15;
}